.c-nav {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;

    @media (min-width: 1230px ) {
        margin-top: 0;
    }
    &__link {
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem;
        transition: all 0.3s;
        &:hover, &:focus {
            color: var(--primary);
        }
        &--active {
            color: var(--primary);
        }
    }
  
}