.c-header {
  background: #100c0d;
  background: -webkit-gradient(linear, left top, right top, from(#100c0d), to(rgba(0, 0, 0, 0.717525)));
  background: linear-gradient(90deg, #100c0d 0%, rgba(0, 0, 0, 0.717525) 100%);
  padding: 6rem 0;
}

.c-logo {
  width: 25rem;
}

.c-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1230px) {
  .c-navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 5rem;
}

@media (min-width: 1230px) {
  .c-nav {
    margin-top: 0;
  }
}

.c-nav__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-nav__link:hover, .c-nav__link:focus {
  color: var(--primary);
}

.c-nav__link--active {
  color: var(--primary);
}

.c-footer {
  background-color: var(--black);
  padding: 5rem 0;
  margin-top: 5rem;
}

@media (min-width: 1230px) {
  .c-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-footer .c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
}

@media (min-width: 1230px) {
  .c-footer .c-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.c-footer__copyright {
  text-align: center;
  color: var(--white);
  font-size: 1rem;
}

.c-heading {
  font-size: 64px;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.c-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5rem;
}

.c-content__paragraph {
  font-size: 16px;
}

@media (min-width: 1240px) {
  .c-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-guitars__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 992px) {
  .c-guitars__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1240px) {
  .c-guitars__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.c-guitar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.c-guitar__heading {
  font-size: 1.5rem;
  color: var(--primary);
  text-transform: uppercase;
}

.c-guitar__content {
  padding: 1rem;
}

.c-guitar__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: 1rem;
}

.c-guitar__description--complete {
  font-size: 1rem;
}

.c-guitar__price {
  color: var(--primary);
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}

.c-guitar__link {
  margin-top: 2rem;
  display: block;
  color: var(--white);
  background-color: var(--black);
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-guitar__link:hover, .c-guitar__link:focus {
  background-color: var(--primary);
  color: var(--black);
}

.c-error {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.c-error__link {
  display: block;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.8rem;
}
/*# sourceMappingURL=module.css.map */